@import url('https://fonts.cdnfonts.com/css/inter');

/* font-family: 'Inter', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1220px) {
    .container {
        max-width: 1355px;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #2C2C34;
    height: 70px;
}

.header__row {
    height: 70px !important;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-btn {
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    padding: 3px 18px;
    background: #56A3A6;
    border-radius: 10px;
}

.header__navigation .navigation__item:nth-of-type(1),
.header__authorization .authorization__item:nth-of-type(1) {
    margin-right: 86px;
}

.books__wrapper {
    padding: 41px 0;
    max-width: 1294px;
    margin: 0 auto;
}

.books__card {
    background: #2C2C34;
    border-radius: 10px;
    padding: 32px 43px;
    color: #fff;
    margin-bottom: 53px;
}

.books__card .card__row {
    display: flex;
}

.books__card .card__image {
    border-radius: 10px;
    overflow: hidden;
    margin-right: 30px;
    min-width: 440px;
    min-height: 624px;
}

.books__card .card__image img {
    width: 100%;
}

.books__card .card__col:nth-of-type(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.books__card .card__title {
    max-width: 560px;
    margin-bottom: 20px;
}

.books__card .card__title,
.books__card .card__author {
    font-size: 36px;
    line-height: 44px;
}

.books__card .card__author {
    text-align: right;
    margin-bottom: 95px;
}

.books__card .card__description {
    font-size: 18px;
    line-height: 22px;
}

.books__card .buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.books__card button {
    background: transparent;
    border: none;
}

.books__card .card__favourite {
    margin-right: 38px;
}

.books__card .card__read {
    font-size: 36px;
    line-height: 44px;
    color: #FBFBF2;
    padding: 4px 35px;
    background: #56A3A6;
    border-radius: 10px;
}

.footer {
    background: #2C2C34;
    height: 79px;
    width: 100%;
}

.form {
    height: calc(100vh - 70px - 79px);
    position: relative;
}

.form__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 56px 0 41px;
    background: #2C2C34;
    border-radius: 10px;
    min-width: 1101px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 69px;
    color: #fff;
}

.form__wrapper input[type="text"] {
    background: #FBFBF2;
    border-radius: 10px;
    border: none;
    padding: 11px 16px;
    font-size: 32px;
    line-height: 39px;
    outline: none;
    width: 592px;
}

.form__wrapper input[type="text"]::placeholder {
    color: #8D8C95;
}

.form__wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__wrapper button[type="submit"],
.form__wrapper .form__signup {
    font-size: 24px;
    line-height: 29px;
    color: #FBFBF2;
    padding: 7px 0;
    text-align: center;
    background: #56A3A6;
    border-radius: 10px;
    min-width: 246px;
    border: none;
}

.form__wrapper button[type="submit"] {
    margin-bottom: 40px;
}

.mb-46 {
    margin-bottom: 46px;
}

.mb-35 {
    margin-bottom: 35px;
}